Repository openshift/trustee-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

trustee-fbc-4-15-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee-fbc-4-15/trustee-fbc-4-15:{{revision}}
  - name: path-context
    value: v4.15
  - name: dockerfile
    value: v4.15/Dockerfile
  ...

trustee-fbc-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee-fbc/trustee-fbc-4-16:{{revision}}
  - name: path-context
    value: v4.16
  - name: dockerfile
    value: v4.16/Dockerfile
  ...

tekton: create images-mirror-set.yaml
  .tekton/images-mirror-set.yaml
Due: none

script: enable updating all versions in one run
  update.sh
Due: none

Create renovate.json
  renovate.json
Due: none

Update pipeline digest
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

Update bundle digests
  v4.15/catalog-template.json
  v4.15/catalog/trustee-operator/catalog.json
  v4.16/catalog-template.json
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog-template.json
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.json
  v4.18/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

Changes to keep v0.2.0 in the catalog
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
  v4.15/catalog-template.json
  v4.15/catalog/trustee-operator/catalog.json
  v4.16/catalog-template.json
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog-template.json
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.json
  v4.18/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

chore(deps): update konflux references to 202074a
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

Konflux build pipeline service account migration for trustee-fbc-4-15 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
Due: trustee-fbc-4-15-on-push

Konflux build pipeline service account migration for trustee-fbc-4-16 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
Due: trustee-fbc-4-16-on-push

Konflux build pipeline service account migration for trustee-fbc-4-17 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
Due: none

Konflux build pipeline service account migration for trustee-fbc-4-18 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
Due: none

chore(deps): update konflux references to 0bd24df
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

New digests for trustee operator - 21/05/2025
  v4.15/catalog-template.json
  v4.15/catalog/trustee-operator/catalog.json
  v4.16/catalog-template.json
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog-template.json
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.json
  v4.18/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

chore(deps): update konflux references to f59a8bc
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

New digests for release v0.4.0
  v4.15/catalog-template.json
  v4.15/catalog/trustee-operator/catalog.json
  v4.16/catalog-template.json
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog-template.json
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.json
  v4.18/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

chore(deps): update konflux references to 4a6f481
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

Red Hat Konflux update trustee-fbc-4-19 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/trustee-fbc-4-19-pull-request.yaml
  .tekton/trustee-fbc-4-19-push.yaml
Due: none

New digests for release v0.4.0 and OCP 4.19 support
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-push.yaml
  .tekton/trustee-fbc-4-19-pull-request.yaml
  .tekton/trustee-fbc-4-19-push.yaml
  v4.15/catalog/trustee-operator/catalog.json
  v4.16/catalog-template.json
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog-template.json
  v4.18/catalog-template.json
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/Dockerfile
  v4.19/catalog-template.json
  v4.19/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

Red Hat Konflux update trustee-fbc-4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
Due: none

Check with new digests
  v4.18/catalog-template.json
  v4.18/catalog/trustee-operator/catalog.json
Due: none

Red Hat Konflux update trustee-fbc-4-18
  .tekton/images-mirror-set.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
  v4.18/catalog-template.json
  v4.18/catalog/trustee-operator/catalog.json
Due: none

Update scripts
  .tekton/images-mirror-set.yaml
  README.md
  duplicate.sh
  icon.png
  migrate.sh
  render.sh
  update.sh
Due: none

FBC v0.4.0 for OCP 4.18
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
  v4.18/catalog-template.json
  v4.18/catalog-template.yaml
  v4.18/catalog/trustee-operator/catalog.json
Due: none

FBC v0.4.0 for OCP 4.16
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  v4.16/catalog-template.json
  v4.16/catalog-template.yaml
  v4.16/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-16-on-push

FBC v0.4.0 for OCP 4.17
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  v4.17/catalog-template.json
  v4.17/catalog-template.yaml
  v4.17/catalog/trustee-operator/catalog.json
Due: none

FBC v0.4.0 for OCP 4.15
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  v4.15/catalog-template.json
  v4.15/catalog-template.yaml
  v4.15/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-15-on-push

FBC v0.4.0 for OCP 4.19
  .tekton/trustee-fbc-4-19-pull-request.yaml
  .tekton/trustee-fbc-4-19-push.yaml
  v4.19/Dockerfile
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
Due: none

FBC v0.4.0 for OCP 4.19
  .tekton/trustee-fbc-4-19-pull-request.yaml
  .tekton/trustee-fbc-4-19-push.yaml
  v4.15/catalog/trustee-operator/catalog.json
  v4.16/catalog-template.yaml
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog-template.yaml
  v4.18/catalog-template.yaml
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/Dockerfile
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

Fix FBC 4.16
  .tekton/trustee-fbc-4-16-push.yaml
Due: trustee-fbc-4-16-on-push

Fix stage release
  v4.15/catalog/trustee-operator/catalog.json
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

tekton: use remote fbc pipeline Enables easier maintenance, as long as we're sticking to the default pipeline definition.
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
  .tekton/trustee-fbc-4-19-pull-request.yaml
  .tekton/trustee-fbc-4-19-push.yaml
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

chore(deps): update konflux references to 820f444
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
  .tekton/trustee-fbc-4-19-pull-request.yaml
  .tekton/trustee-fbc-4-19-push.yaml
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

Removed v0.2.0 from OCP4.19 FBC
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
Due: none

Update digests 08/07/2025
  v4.15/catalog-template.yaml
  v4.15/catalog/trustee-operator/catalog.json
  v4.16/catalog-template.yaml
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog-template.yaml
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.yaml
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

chore(deps): update konflux references to b916bc7
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
  .tekton/trustee-fbc-4-19-pull-request.yaml
  .tekton/trustee-fbc-4-19-push.yaml
Due: trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push

Path conditions:
  trustee-fbc-4-15-on-push: any of: .tekton/pipeline.yaml$|.tekton/trustee-fbc-4-15-.*.yaml$|v4.15/Dockerfile$|v4.15/.*/catalog.json$
  trustee-fbc-4-16-on-push: any of: .tekton/pipeline.yaml$|.tekton/trustee-fbc-4-16-.*.yaml$|v4.16/Dockerfile$|v4.16/.*/catalog.json$
