Repository openshift/trustee-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-fbc-4-15-on-pull-request, trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push, trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

Path conditions:
  trustee-fbc-4-15-on-pull-request: any of: .tekton/pipeline.yaml$|.tekton/trustee-fbc-4-15-.*.yaml$|v4.15/Dockerfile$|v4.15/.*/catalog.json$
  trustee-fbc-4-15-on-push: any of: .tekton/pipeline.yaml$|.tekton/trustee-fbc-4-15-.*.yaml$|v4.15/Dockerfile$|v4.15/.*/catalog.json$
  trustee-fbc-4-16-on-push: any of: .tekton/pipeline.yaml$|.tekton/trustee-fbc-4-16-.*.yaml$|v4.16/Dockerfile$|v4.16/.*/catalog.json$
  trustee-fbc-4-17-on-push: any of: .tekton/pipeline.yaml$|.tekton/trustee-fbc-4-17-.*.yaml$|v4.17/Dockerfile$|v4.17/.*/catalog.json$
  trustee-fbc-4-18-on-pull-request: any of: .tekton/pipeline.yaml$|.tekton/trustee-fbc-4-18-.*.yaml$|v4.18/Dockerfile$|v4.18/.*/catalog.json$
  trustee-fbc-4-18-on-push: any of: .tekton/pipeline.yaml$|.tekton/trustee-fbc-4-18-.*.yaml$|v4.18/Dockerfile$|v4.18/.*/catalog.json$
  trustee-fbc-4-19-on-push: any of: .tekton/pipeline.yaml$|.tekton/trustee-fbc-4-19-.*.yaml$|v4.19/Dockerfile$|v4.19/.*/catalog.json$

Fix mirrors
  .tekton/images-mirror-set.yaml
Due: none

Update digests 17/07/2025
  v4.15/catalog-template.yaml
  v4.15/catalog/trustee-operator/catalog.json
  v4.16/catalog-template.yaml
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog-template.yaml
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.yaml
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-15-on-pull-request, trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push, trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

New digests 21/07/2025
  v4.15/catalog-template.yaml
  v4.15/catalog/trustee-operator/catalog.json
  v4.16/catalog-template.yaml
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog-template.yaml
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.yaml
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-15-on-pull-request, trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push, trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

New digests 22/07/2025
  v4.15/catalog-template.yaml
  v4.15/catalog/trustee-operator/catalog.json
  v4.16/catalog-template.yaml
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog-template.yaml
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.yaml
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-15-on-pull-request, trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push, trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

Release v0.4.1
  .tekton/images-mirror-set.yaml
  config.yaml
  render.sh
  v4.15/catalog-template.yaml
  v4.15/catalog/trustee-operator/catalog.json
  v4.16/catalog-template.yaml
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog-template.yaml
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.yaml
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-15-on-pull-request, trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push, trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

chore(deps): update konflux references to 5de133f
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
  .tekton/trustee-fbc-4-19-pull-request.yaml
  .tekton/trustee-fbc-4-19-push.yaml
Due: trustee-fbc-4-15-on-pull-request, trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push, trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

chore(deps): update konflux references to a8665eb
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
  .tekton/trustee-fbc-4-19-pull-request.yaml
  .tekton/trustee-fbc-4-19-push.yaml
Due: trustee-fbc-4-15-on-pull-request, trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push, trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

chore(deps): update konflux references to 9020b4e
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
  .tekton/trustee-fbc-4-19-pull-request.yaml
  .tekton/trustee-fbc-4-19-push.yaml
Due: trustee-fbc-4-15-on-pull-request, trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push, trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

test-fbc: add the files needed to build a test catalog
  test-fbc/Dockerfile
  test-fbc/catalog-template.yaml
Due: none

Red Hat Konflux update trustee-test-fbc
  .tekton/trustee-test-fbc-pull-request.yaml
  .tekton/trustee-test-fbc-push.yaml
Due: none

Add trustee FBC test catalog
  .tekton/trustee-test-fbc-pull-request.yaml
  .tekton/trustee-test-fbc-push.yaml
  test-fbc/Dockerfile
  test-fbc/catalog-template.yaml
Due: none

Bump version 0.4.2 in test-fbc
  .tekton/trustee-test-fbc-push.yaml
  test-fbc/catalog-template.yaml
Due: none

Fix FBC EC
  .tekton/trustee-fbc-4-15-pull-request.yaml
  .tekton/trustee-fbc-4-15-push.yaml
  .tekton/trustee-fbc-4-16-pull-request.yaml
  .tekton/trustee-fbc-4-16-push.yaml
  .tekton/trustee-fbc-4-17-pull-request.yaml
  .tekton/trustee-fbc-4-17-push.yaml
  .tekton/trustee-fbc-4-18-pull-request.yaml
  .tekton/trustee-fbc-4-18-push.yaml
  .tekton/trustee-fbc-4-19-pull-request.yaml
  .tekton/trustee-fbc-4-19-push.yaml
Due: trustee-fbc-4-15-on-pull-request, trustee-fbc-4-15-on-push, trustee-fbc-4-16-on-push, trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

New digests for release v0.4.2
  v4.16/catalog-template.yaml
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog-template.yaml
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.yaml
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-16-on-push, trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

Add digest to rbac-proxy image
  v4.16/catalog/trustee-operator/catalog.json
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-16-on-push, trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push

Test FBC v1.0.0
  .tekton/trustee-test-fbc-push.yaml
  test-fbc/catalog-template.yaml
Due: none

Red Hat Konflux update trustee-fbc-4-20
  .tekton/trustee-fbc-4-20-pull-request.yaml
  .tekton/trustee-fbc-4-20-push.yaml
Due: none

fbc: create catalog for OCP 4.20 release
  .tekton/trustee-fbc-4-20-pull-request.yaml
  .tekton/trustee-fbc-4-20-push.yaml
  v4.20/Dockerfile
  v4.20/catalog-template.yaml
  v4.20/catalog/trustee-operator/catalog.json
Due: none

fbc: update fbc files for 0.5.0 release
  v4.17/catalog-template.yaml
  v4.18/catalog-template.yaml
  v4.19/catalog-template.yaml
  v4.20/catalog-template.yaml
Due: none

fbc: apply changes from render.sh
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/catalog/trustee-operator/catalog.json
  v4.20/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

Digests for v1.0.0
  test-fbc/catalog-template.yaml
  v4.17/catalog-template.yaml
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.yaml
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
  v4.20/catalog-template.yaml
  v4.20/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

Updated v1.0.0 digest
  v4.17/catalog-template.yaml
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.yaml
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
  v4.20/catalog-template.yaml
  v4.20/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

Red Hat Konflux update trustee-fbc-4-21
  .tekton/trustee-fbc-4-21-pull-request.yaml
  .tekton/trustee-fbc-4-21-push.yaml
Due: none

Update catalogs with 1.1.0 digest
  v4.17/catalog-template.yaml
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.yaml
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
  v4.20/catalog-template.yaml
  v4.20/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

Add 4.21 catalog
  .tekton/trustee-fbc-4-21-pull-request.yaml
  .tekton/trustee-fbc-4-21-push.yaml
  v4.21/Dockerfile
  v4.21/catalog-template.yaml
  v4.21/catalog/trustee-operator/catalog.json
Due: none

Update to latest operator bundle digest
  v4.17/catalog-template.yaml
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.yaml
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
  v4.20/catalog-template.yaml
  v4.20/catalog/trustee-operator/catalog.json
  v4.21/catalog-template.yaml
  v4.21/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

Update digests 14/04/2026
  v4.17/catalog-template.yaml
  v4.17/catalog/trustee-operator/catalog.json
  v4.18/catalog-template.yaml
  v4.18/catalog/trustee-operator/catalog.json
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
  v4.20/catalog-template.yaml
  v4.20/catalog/trustee-operator/catalog.json
  v4.21/catalog-template.yaml
  v4.21/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-17-on-push, trustee-fbc-4-18-on-pull-request, trustee-fbc-4-18-on-push, trustee-fbc-4-19-on-push

Red Hat Konflux update trustee-fbc-4-22
  .tekton/trustee-fbc-4-22-pull-request.yaml
  .tekton/trustee-fbc-4-22-push.yaml
Due: none

Add OpenShift 4.22 catalog
  .tekton/trustee-fbc-4-22-pull-request.yaml
  .tekton/trustee-fbc-4-22-push.yaml
  v4.22/Dockerfile
  v4.22/catalog-template.yaml
  v4.22/catalog/trustee-operator/catalog.json
Due: none

fbc: point to the correct 4.22 base image
  v4.22/Dockerfile
Due: none

chore(deps): update trustee-operator-bundle and nudge test catalog build
  test-fbc/catalog-template.yaml
Due: none

Bump version 1.2
  .tekton/trustee-test-fbc-push.yaml
Due: none

FBC catalogs for v1.2
  .tekton/trustee-fbc-4-19-pull-request.yaml
  .tekton/trustee-fbc-4-19-push.yaml
  .tekton/trustee-fbc-4-20-pull-request.yaml
  .tekton/trustee-fbc-4-20-push.yaml
  .tekton/trustee-fbc-4-21-pull-request.yaml
  .tekton/trustee-fbc-4-21-push.yaml
  .tekton/trustee-fbc-4-22-pull-request.yaml
  .tekton/trustee-fbc-4-22-push.yaml
  .tekton/trustee-test-fbc-pull-request.yaml
  .tekton/trustee-test-fbc-push.yaml
  icon.png.base64
  test-fbc/catalog-template.yaml
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
  v4.20/catalog-template.yaml
  v4.20/catalog/trustee-operator/catalog.json
  v4.21/catalog-template.yaml
  v4.21/catalog/trustee-operator/catalog.json
  v4.22/catalog-template.yaml
  v4.22/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-19-on-push

Fix 1.2 catalogs
  test-fbc/catalog-template.yaml
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
  v4.20/catalog-template.yaml
  v4.20/catalog/trustee-operator/catalog.json
  v4.21/catalog-template.yaml
  v4.21/catalog/trustee-operator/catalog.json
  v4.22/catalog-template.yaml
  v4.22/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-19-on-push

RH BoT v1.2.1
  .tekton/trustee-test-fbc-push.yaml
  v4.19/catalog-template.yaml
  v4.19/catalog/trustee-operator/catalog.json
  v4.20/catalog-template.yaml
  v4.20/catalog/trustee-operator/catalog.json
  v4.21/catalog-template.yaml
  v4.21/catalog/trustee-operator/catalog.json
  v4.22/catalog-template.yaml
  v4.22/catalog/trustee-operator/catalog.json
Due: trustee-fbc-4-19-on-push
